.container {
    margin: 35px auto;
    width: 60%;

    h2 {
        text-align: center;
    }

    p {
        margin: 5px;
    }

    .other {
        color: grey;
        margin-top: 15px;
    }
}
