.Todo {
  h1 {
    text-align: center;
  }

  p {
    font-family: "Roboto Light", sans-serif;
    color: #313131;
  }

  .grid {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: repeat(4, auto);

    & > div {
      padding: 1rem;
    }

    .controls {
      grid-column: 1 / 4;

      form label {
        color: white;
      }
    }

    .todos_IU {
      /*background: #d01a14;*/
    }

    .todos_INU {
      /*background: #ee8025;*/
    }

    .todos_UU {
      /*background: #259aee;*/
    }

    .todos_UNU {
      /*background: #2cee25;*/
    }

    .todos_other {
      /*background: rgb(98, 98, 98);*/
      grid-column: 1 / 3;
    }

    .done {
      /*background: #a86500;*/
      grid-column: 3 / 4;
      grid-row: 2 / 5;
    }
  }

  @media all and (max-width: 1100px) {

    .grid {

      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, auto);

      .controls {
        grid-column: 1 / 3;
      }

      .done {
        grid-column: 1 / 3;
        grid-row: auto;
      }
    }
  }

  @media all and (max-width: 600px) {

    .grid {

      grid-template-columns: 1fr;
      grid-template-rows: auto;

      .controls {
        grid-column: auto;
      }

      .todos_other {
        grid-column: auto;
      }

      .done {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}