@mixin cell() {
  width: 10%;
  height: 10%;
  position: relative;
}

$red: #db0909;
$blue: #0073ff;
$green: #27b400;
$yellow: #ffb700;
$white: #fff;

.empty {
  @include cell();
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.15);
}

.filled {
  @include cell();
  border: 1px solid black;
}

.outer1 {
  width: 100%;
  height: 28%;
}

.outer2 {
  width: 28%;
  height: 44%;
  position: absolute;
  top: 28%;
}

.outer3 {
  width: 28%;
  height: 44%;
  position: absolute;
  top: 28%;
  right: 0;
}

.outer4 {
  width: 100%;
  height: 28%;
  position: absolute;
  bottom: 0;
}

@mixin inner() {
  width: 44%;
  height: 44%;
  position: absolute;
  left: 28%;
  top: 28%;
  z-index: 1;
}

.inner {
  @include inner();
  border: 1px solid black;
}

.inner_no_border {
  @include inner();
}

.outer__p {
  margin: 0;
  position: absolute;
  top: 1%;
  left: 3%;
}

.inner__p {
  top: 0;
  left: 0;
}

.red {
  background: $red;
}

.blue {
  background: $blue;
}

.green {
  background: $green;
}

.yellow {
  background: $yellow;
}

.white {
  background: $white;
}

.flicker {
  animation: flicker 500ms infinite;
}

.hide {
  opacity: 0;
}

.cell__moving {
  @include cell();
  transition-property: top, left;
  transition-duration: 200ms;
  transition-timing-function: linear;
  position: absolute;
  z-index: 10;
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@media all and (max-width: 999px) {
  .outer__p, .inner__p {
    font-size: 14px;
  }
}